<div class="container new-container">
  
  
  <% @projects.each do %>
    <ul>
      <li><%= tenant.project.title %></li>
      <li><%= project.details %></li>
      <li><%= project.expected_completion_date %></li>
      <li><%= tenant.name project.tenant_id %></li>
    </ul>
  <% end %>
</div>